<div class="menu-edit">
  <h2>登録・編集</h2>
  <div class="menu-search">
    <!--食材検索-->
    <%= form_with model: @menu_food, url:new_menu_food_path, method: :get, local:true do |f| %>
      <p>
        検索したい食材を<strong>"ひらがな"</strong>で入力してください。</br>
        食材検索 : <%= f.text_field :content %>
        <%= f.hidden_field :menu_id, :value => params[:id] %>
        <%= f.submit "検索", class: "btn btn-primary" %>
      </p>
    <% end %>
  </div>
  <div class="menu-edit-table">
    <!--食材栄養素一覧-->
    <table class="table table-bordered table-hover">
      <tr>
        <th class="menu-edit-table-data">食材名</th>
        <th class="menu-edit-table-data2">タンパク質 [g]</th>
        <th class="menu-edit-table-data2">脂質 [g]</th>
        <th class="menu-edit-table-data2">炭水化物 [g]</th>
        <th class="menu-edit-table-data2">カロリー [kcal]</th>
        <th class="menu-edit-table-data3">人前</th>
        <th class="menu-edit-table-data3"></th>
        <th class="menu-edit-table-data3"></th>
      </tr>
      <% @menu_foods.each do |menu_food| %>
        <tr id="menu_food_<%= menu_food.id %>">
          <%= render 'menus/update-btn', menu_food: menu_food %>
        </tr>
      <% end %>
    </table>
  </div>

  <%= form_with model: @menu, method: :patch, local:true do |f| %>
    <div>
      <h5>栄養素合計</h5>
      <div class="menu-edit-table">
        <table class="table table-bordered table-hover">
          <tr>
            <th class="menu-edit-table-sum">タンパク質 [g]</th>
            <th class="menu-edit-table-sum">脂質 [g]</th>
            <th class="menu-edit-table-sum">炭水化物 [g]</th>
            <th class="menu-edit-table-sum">カロリー [kcal]</th>
          </tr>
          <tr>
            <td class="menu-edit-table-sum"><%= @menu.protain_calculation %></td>
            <td class="menu-edit-table-sum"><%= @menu.fat_calculation %></td>
            <td class="menu-edit-table-sum"><%= @menu.carbon_calculation %></td>
            <td class="menu-edit-table-sum"><%= @menu.calory_calculation %></td>
          </tr>
        </table>
      </div>
    </div>
    <div>
      <p>食事名 : <%= f.text_field :name %></p>
    </div>
    <div class="menu-edit-image">
      <%= attachment_image_tag @menu, :image, :fill, 200, 200, format: 'jpeg' %>
      <%= f.attachment_field :image %>
    </div>
    <%= f.submit "保存", class: "btn btn-success" %>
    <%= link_to "削除", menu_path, method: :delete, class: "btn btn-danger" %>
  <% end %>
</div>