<h2>食材登録</h2>
<div>
  <!--食材検索-->
  <%= form_with model: @menu_food, url:new_menu_food_path, method: :get, local:true do |f| %>
    <%= f.text_field :content %>
    <%= f.hidden_field :menu_id, :value => params[:id] %>
    <%= f.submit "検索" %>
  <% end %>
</div>
<div>
  <!--食材栄養素一覧-->
  <table>
    <tr>
      <th>食材名</th>
      <th>タンパク質</th>
      <th>脂質</th>
      <th>炭水化物</th>
      <th>人前</th>
      <th>合計カロリー</th>
      <th></th>
      <th></th>
    </tr>
    <%# @menu_foods.each do |menu_food| %>
      <tr>
        <td><%#= menu_food.food.name %></td>
        <td><%#= menu_food.food.protain %></td>
        <td><%#= menu_food.food.fat %></td>
        <td><%#= menu_food.food.carbon %></td>
        <td><%#= menu_food.weight %></td>
        <td>合計値</td>
        <td><%#= link_to "変更", edit_menu_food_path(menu_food) %></td>
        <td><%#= link_to "削除", menu_food_path(menu_food), method: :delete %></td>
      </tr>
    <%# end %>
  </table>
</div>
<div>
  <h3>栄養素合計</h3>
  <table>
    <tr>
      <th>タンパク質(g)</th>
      <th>脂質(g)</th>
      <th>炭水化物(g)</th>
      <th>カロリー(kcal)</th>
    </tr>
    <tr>
      <td><%#= @menu.sum_protain %></td>
      <td><%#= @menu.sum_fat %></td>
      <td><%#= @menu.sum_carbon %></td>
      <td><%#= @menu.sum_calory %></td>
    </tr>
  </table>
</div>
<div>
  <%= form_with model: @menu, method: :patch, local:true do |f| %>
    <div>
      <h2>食事名</h2>
      <%= f.text_field :name %>
    </div>
    <div>
      <h2>料理画像</h2>
      <p>料理画像追加フォームを作成する</p>
    </div>
    <%= f.submit "保存" %>
  <% end %>
</div>