<div class="menu">
  <div class="menu-contents">
    <h2>レシピ登録</h2>
  </div>
  <div class="menu-new-container">
    <%= form_with model: @menu, url: menus_path, method: :post, local: true do |f| %>
      <p>レシピ名 : <%= f.text_field :name %> </p>
      <p>料理画像 : <%= f.attachment_field :image %> </p>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <p>※食材追加はレシピ登録後、レシピ編集画面より行えます。</p>
      <%= f.submit "登録", class: "btn btn-success" %>
    <% end %>
  </div>
</div>