<h2>お問合せ・要望フォーム</h2>
<%= form_with model:@user, local:true do |f| %>
  <p>・どちらの内容を入力しますか？</p>
  <%= f.radio_button :reazon, 0 %>
  <%= f.label :category, "お問合せ" %>
  <%= f.radio_button :reason, 1 %>
  <%= f.label :category, "要望" %>
  <p>・詳細を下記フォームにご入力ください。</p>
  <%= f.text_area :reason_detail, size: "100x200"
  <%= f.subimit "送信" %>
<% end %>