<div class="user-setting">
  <div class="user-setting-contents">
    <h2>アカウント情報/身体情報/目標</h2>
  </div>
  <div class="user-setting-container">
    <%= form_with model:@user, method: :patch, local:true do |f| %>
      <table class="table table-bordered table-hover">
    <tr>
      <td class="user-table-title">アカウント名</td>
      <td class="user-table-data"><%= f.text_field :account_name %></td>
    </tr>
    <tr>
      <td class="user-table-title">身長</td>
      <td class="user-table-data"><%= f.text_field :height %> [cm]</td>
    </tr>
    <tr>
      <td class="user-table-title">体重</td>
      <td class="user-table-data"><%= f.text_field :weight %> [kg]</td>
    </tr>
    <tr>
      <td class="user-table-title">基礎代謝</td>
      <td class="user-table-data"><%= f.text_field :basal_metabolism %> [kcal/day]</td>
    </tr>
    <tr>
      <td class="user-table-title">目標体重</td>
      <td class="user-table-data"><%= f.text_field :target %> [kg]</td>
    </tr>
    <tr>
      <td class="user-table-title">期間</td>
      <td class="user-table-data"><%= f.text_field :term %> [month]</td>
    </tr>
  </table>
  <%= f.submit "保存", class: "btn btn-success" %>
<% end %>