<h2>アカウント情報/身体情報/目標</h2>
<table>
    <tr>
      <td>アカウント名</td>
      <td><%= @user.account_name %></td>
    </tr>
    <tr>
      <td>身長</td>
      <td><%= @user.height %>cm</td>
    </tr>
    <tr>
      <td>体重</td>
      <td><%= @user.weight %>kg</td>
    </tr>
    <tr>
      <td>基礎代謝</td>
      <td><%= @user.basal_metabolism %>kcal/day</td>
    </tr>
    <tr>
      <td>目標体重</td>
      <td><%= @user.target %>kg</td>
    </tr>
    <tr>
      <td>期間</td>
      <td><%= @user.term %>month</td>
    </tr>
    <tr>
      <td><%= link_to "編集", edit_user_path %></td>
    </tr>
  </table>