<h2>候補</h2>

<p>※表示値は全て100g当たりの成分値となります</p>
  <table>
    <tr>
      <th>名前</th>
      <th>タンパク質</th>
      <th>脂質</th>
      <th>炭水化物</th>
      <th>摂取量</th>
      <th></th>
    </tr>
    <% @records.each do |food| %>
    <%= form_with model: @menu_food, url: menu_foods_path, local: true do |f| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.protain %></td>
        <td><%= food.fat %></td>
        <td><%= food.carbon %></td>
        <td><%= f.text_field :weight %></td>
        <%= f.hidden_field :food_id, :value => food.id %>
        <td><%= f.submit '登録' %></td>
      </tr>
    <% end %>
  </table>
<% end %>