<!DOCTYPE html>
<html>
  <head>
    <title>Checker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="/"><span>Meal balance checker</span></a>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to 'バランスチェック', menus_path %></li>
        <li><%= link_to '検索', keyword_path %></li>
        <li><%= link_to '設定', user_setting_path(current_user.id) %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to '新規登録', new_user_registration_path %></li>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
      <% end %>
    </ul>
    <%= yield %>

  </body>
</html>
